ul{
    display: flex;
    justify-content: end;
    gap: 30px;
}
.homepage{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSMUsIjueOvAOP1AXkpYMXvoeFWTPvX-3nMv9_LAHzrZQ&s);
    background-repeat: no-repeat;
    background-size: cover;
    width: 60vh;
    height: 60vh;
}
#about{
    color: blue;
}
ul{
    list-style: none;
}